<!DOCTYPE html>
<html>
    <head>
    </head>
<body>
	<!-- <div style="border: 1px solid red;width:400px;margin: 0 auto;">
		<div style="border: 1px solid black;width: 200px;margin: 0 auto">
			<a class="login-btn" id='login-btn'>登录</a>
		</div>
		<div style="border: 1px solid black;width: 400px;margin: 0 auto">989898/div> 
	</div> -->
<!-- 	width: 400px;
	margin: 0 auto;
	background-color: white; -->
	<!--  margin重叠-->
	<div style="border: 1px solid red;width: 200px;height: 200px;margin-bottom: 50px" ></div>
	<div style="border: 1px solid red;width: 200px;height: 200px;margin-top: 80px" ></div>
</body>
</html>