.page-wrap{
	padding: 40px 0;
	background-color: #e72955; 
}
.page-wrap .content{
	overflow: hidden;
	width: 400px;
	margin: 0 auto;
	background-color: #fff; 

}
.page-wrap .content h3{
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	color: #666;
	margin: 20px 0;
}

.page-wrap .content .login-form{
	position: relative;
	width: 360px;
	margin: 20px auto;
}


.login-form .error {
    position: relative;
    top:50%;
    width: 360px;
    height: 20px;
    line-height: 20px;
   
    margin-bottom: 20px;
    border: 1px solid red;
    color: red;
    background: #fde9e9; 
    display: none;
}

.login-form .error i{
	
	font-size: 15px;
    margin-left: 15px;
}

.login-form .error .err-msg{
	display: inline-block;
	font-size: 15px;
    margin-left: 15px;
}

.login-form .form-main{
	position: relative;
	width: 360px;
	
	margin: 20 auto;
	border: 1px solid #bdbdbd;
	line-height: 30px;
	margin-bottom: 20px;


}

.login-form .form-main i{
	position: absolute;
	
	width: 40px;
	border: 1px solid #bdbdbd;
	text-align: center;
	line-height: 36px;
	font-size: 18px;
	color: grey;
	background-color: #f3f3f3;
}

.login-form .form-main input{
	margin-left: 34px;
	height:36px;
	width: 324px;
	border: 1px solid #bdbdbd;
	text-indent: 1em;
	letter-spacing: 2px;
	outline: none;
}

.login-form  .login-btn{
	width: 324px;
	
	border: 1px solid #bdbdbd;
	text-align: center;
	letter-spacing: 5px;
	line-height: 36px;
	margin-bottom: 10px;
}

.login-form .link{
	float: right;
	color: #999;
	margin-bottom: 15px;
}
.login-form .register-link{
	margin-right: -3px;
}

.login-form .link:hover{
	color: #c60023;
}
