 <div class="footer">
	<div class="w">
		<div class="links">
	 	    <a class="link" target="_blank" href="www.imooc.com">慕课网</a>
		 	<a class="link" target="_blank" href="www.baidu.com">百度</a>
		 	<a class="link" target="_blank" href="www.taobao.com">淘宝</a>
		 	<a class="link" target="_blank" href="www.suning.com">苏宁</a>
	    </div>
	</div>
	<p class="copyright">
		 Copyright © 2019 all rights be reserved
	</p>
 </div>
 <script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.2.3/jquery.min.js">
 </script>